<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application',media: 'all' %>
    <%= javascript_pack_tag 'application' %>
   </head>
  <body>
    <div id="app">
        <!-- sidebar -->
      <%= render partial: "/layouts/partials/sidebar" %>
      
      <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        
        <div class="page-content">
          <section class="row">
            <%= yield %>
          </section>
        </div>
      </div>
    </div>
    
    <% if !flash.empty? %>
      <%= flash.each do |key, value| %>
        <%= javascript_tag do %>
          new Notification("<%=flash_message(key)%>",{
            body: "<%= value %>"
          })
        <%end%>
      <%end%>
    <%end%>
  </body>

</html>
